<h1> Showing the selected article: </h1>

<p>

Title: <%= @article.title %>

</p>

<p>

Description: <%= @article.description %>

</p>

<%=  link_to 'Show all articles', articles_path %> |
<%=  link_to 'Create an article', new_article_path %>
