<h1>This is the about page.</h1>

<%= link_to 'Home', root_path %>
<p></p>

<img src = "https://blog.hubspot.com/hubfs/image8-2.jpg" width = 300 px>

<p>The google logo is an iconic American symbol.</p>

<p>Now titled <em>Alphabet Inc.</em>, the company is responsible for a large
  portion of the web developments and innovations of the 21st century.</p>

<ol>
  <li>Google's first office was a rented garage.
  <li>Google's two founders of google met by chance.
  <li>The company was originally titled "Backrub".
  <li>The name <em>Google</em> is a play on the number "googol" -- a 1 with 100 zeroes after it.
</ol>
