<div class="jumbotron center container">
  <h1 class="jumbotron">Alpha Blog</h1>
  <p>Share your thoughts with the world!</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign in</a></p>
</div>
